options {
	directory "/var/bind";

	// Specify a list of CIDR masks which should be allowed to issue recursive
	// queries to the DNS server. Do NOT specify 0.0.0.0/0 here; see above.
	allow-recursion {
		0.0.0.0/0;
	};

	forwarders {
		{% for forwarder in forwarders %}
		{{ forwarder }};
		{% endfor %}
	};

	// By default the resolver will attempt to perform recursive resolution itself
	// if the forwarders are unavailable. If you want this resolver to fail outright
	// if the upstream resolvers are unavailable, uncomment this directive.
	//forward only;

	// Configure the IPs to listen on here.
	listen-on { any; };
	listen-on-v6 { none; };

	pid-file "/var/run/named/named.pid";

	allow-transfer { none; };

	allow-query { any; };
};

{% for zone in zones %}
zone "{{ zone.name }}" IN {
	type master;
	
	file "{{ zone.name }}.zone";
};

{% endfor %}